/ * Hacemos que el 'cuerpo' tenga una imagen de fondo * /

cuerpo { background-size : cover ; / * Que la imagen ocupa toda la página * /
/ * Añadimos transparencia a la imagen de fondo * /
imagen de fondo : lineal-gradiente ( hacia  abajo , rgba ( 0 , 0 , 0 , 0.9 )
0 % , rgba ( 0 , 0 , 0 , 0.9 ) 100 % ), url ( ../figuras/fondo.jpg );}
/ * Definimos la clase 'center' para las tablas * /
mesa .center {
margen izquierdo : auto ;
margen derecho : auto ;
}

/ * Establecemos el formato para h3, h4 y p * /
h3 { color : verde ;}
h4 { color : azul ;}
p { color : blanco ; tamaño de letra : 14 pt ; Familia tipográfica : " Verdana " , sans-serif ;}